header {
  margin-top: 0px;
  @include media-breakpoint-up(lg) {
    margin-top: 50px;
  }
}
.navbar {
  padding: 20px 0 0 15px;
  max-width: 1300px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    padding: 20px 0 0 0;
  }
}
.navbar-collapse {
 justify-content: flex-end;
  align-items: center;
}
.navbar-nav {
  margin: 0!important;
  li {
    a {
      font-size: 16px;
      color: $black;
      margin: 0 20px;
    }
  }
}
.jumbotron {
  padding: 15px;
  background: none;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  .container {

  }
  .jumbotron_info {
    max-width: 940px;
    h1 {
      color: $black;
      font-size: 34px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      @include media-breakpoint-up(lg) {
        font-size: 60px;
        margin-top: 50px;
      }
    }
    span {
      display: block;
      margin-bottom: 30px;
      color: grey;
      font-size: 20px;
      font-weight: 300;
      line-height: 120%;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

  }
  .reference_gallery {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }
    .gallery-item {
      width: calc(50% - 15px);
      margin-left: 7px;
      margin-right:7px;
      margin-bottom: 30px;
      @include media-breakpoint-up(lg) {
        width: calc(33.333% - 30px);
        margin-left: 15px;
        margin-right:15px;
      }
    }
  }
  .center {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
    @include media-breakpoint-up(md) {
      margin: 40px 0 50px 0;
    }

  }
}
.content-box {
  border-bottom: 1px solid $main-red;
  padding-left: 0px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    border-left: 1px solid $main-red;
    padding-left: 40px;
    border-bottom: 0;
  }
  strong {
    font-size: 20px;
    color:black;
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 600;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }
  p {
    font-size: 18px;
    color: $grey;
    padding-bottom: 15px;
    font-weight: 400;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 5px 0;
      font-size: 18px;
      color: black;
      font-weight: 400;
    }
  }
}


#working_process {
  margin-top: 50px;
  @include media-breakpoint-up(md) {
    margin-top: 120px;
  }
  .container {

  }
  h1 {
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 50px;
    }
  }
}
.current_process {
  border-bottom: 1px solid $main-red;
  padding-left: 0px;
  @include media-breakpoint-up(md) {
    border-left: 1px solid $main-red;
    padding-left: 30px;
    border-bottom: 0;
  }
  .numbering {
    font-size: 72px;
    color: $main-red;
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 100%;
    margin-top: 30px;
    @include media-breakpoint-up(md) {
      margin-top: 0px;
    }
  }
  .title {
    display: block;
    font-weight: 600;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: $grey;
    line-height: 140%;
  }
}

.price_offer {
  padding: 40px 30px 30px;
  background: $main-red;
  color: white;
  width: 100%;
  margin: 30px 15px 0px 15px;
  @include media-breakpoint-up(md) {
    padding: 40px 30px 30px;
  }
  strong {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }
  span {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    a {
      font-weight: bold;
      color: white;
    };
  }
  .btn {
    background: white;
    color: $black;
  }
}


#solutions {
  margin-top: 100px;
  .container {

  }
}

footer {
  padding-top: 50px;
  margin-top: 100px;
  background: #f4f4f4;
  a {
    display: block;
  }
  .container {
    max-width: 1140px;
  }
  h1 {

  }
  form {
    input, textarea {
      @include inputStyle();
    }
    textarea {
      padding-top: 10px;
      height: 150px;
    }
    p {
      span {
        input {

        }
      }
    }
  }
  .wpcf7-not-valid-tip {
    background: #ffabab;
    padding: 0px 10px;
    color: white;
    margin-bottom: 0;
    font-size: 14px;
  }
  strong {
    color: $main-red;
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0;
    display: block;
  }
  a, span {
    display: block;
    color: black;
  }
}
.copyright {
  padding: 20px 0;
  text-align: center;
  background: white;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
}
.social-sites {
  display: flex;
  a {
    img {
      width: 40px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.animated-img {
  position: relative;
  .animated-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    -webkit-animation: float 4s ease-in-out infinite;
    -o-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}